body{
   position: absolute;
   top:30%;
   background-color: #eae1db;
}
form{
  text-align: left;
  margin-left: 3em;
}
form input{
  margin:1em auto;
}
form label{
  min-width: 120px;
}
.figure{
  background-color: rgb(34,35,37);
  margin-bottom: 1em;
  border-radius: 7px;
  box-shadow: 0 0 2px 2px rgb(100,110,110);
}
