.content-info-col{
  display: block;
}
.content-info{
  display: flex;
  align-items: stretch;
  justify-content: center;
  /*flex-basis:90%;
  flex-grow: 1;
  flex-direction: row;
  flex-wrap: nowrap;*/
}
.info-img-img{
  max-height: 75vh;
  max-width: 100%;
}
.info-img{
  flex-grow: 1;
  flex-shrink: 2;
  flex-basis: 40%;
  margin-top: 8em;
}
#info-text{
  display: block;
  position: fixed;
  top:20%;
  left:3em;
  z-index: 3;
  text-align: left;
}

#next,#prev{
  opacity: .75;
  /*position: fixed;
  top:40%;
  z-index: 3;
  display: inline-block;*/
  color: white;

}
#next:hover, #prev:hover{
  color: rgba(255,255,255,0.6);
}

.blownUp{
  background-color: rgba(0,0,0,0.5);
}
.flex-item{
  /*flex-basis:25%;
  flex-grow: 1;*/
  /*cross: 1 1 100%;*/
  flex-shrink: 1;
  flex-basis: 25%;
  margin-top: 8em;
  margin-bottom: 0;
}
.next,.prev{
  font-weight: 700;
  width: 1.5em;
  height: 1.5em;
  font-size: 3em;
  font-family: "Dosis";
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: inline-block;
  position: relative;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 6em;
}
.next{
  background-image: url(images/animation/m5.png);
}
.prev{
  background-image: url(images/animation/m35.png);
}
.next:hover, .prev:hover{
  cursor: pointer;
}
#img img:hover{
  box-shadow: 0px 0px 4px 1px black;
}

img#info{
  max-width: 46%;
  display: inline-block;
  vertical-align: top;
  height: auto;
  /*max-height: 100%;*/
  width: auto;
  margin-right: 20%;
}
