#img{
  margin: 5em auto;
  margin-bottom: 0;
}
#img{
  max-width: 70%;
  max-height:90%;
}
#k26{
  width: 50%;
}
#k0,#k1,#k2,#k3,#k5,#k7,#k8,#k27,
#t1,#t6,#t11,#t12,#t13{
  width:60%;
}
#k9,#k11,#k14,#k15,#k20,#k22,#k23,#k24,#k25{
  width: 65%;
}
#k10,#k12,#k13,
#t9,#t10{
  width: 70%;
}
#k16{
  width: 75%;
}
#k6,#k17,#k18{
  width: 80%;
}
#k4,#k21{
  width:85%;
}
#k19{
  width: 90%;
}
#t2,#t3,#t4,#t5,#t7{
  width: 57%;
  /*left: 175px;*/
}
#t8{
  width: 48%;
}
#next{
 display: inline-block;
}

#prev{
  display: inline-block;
}
.blownUp{
  background-color: rgba(0,0,0,0.5);
}

.next,.prev{
  font-weight: 700;
  font-size: 3em;
  font-family: "Dosis";
  width: 1.5em;
  height: 1.5em;
  margin: 1em auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: inline-block;
}
.next{
  width: 1.4em;
  height: 1.4em;
  background-image: url(images/animation/m5.png);
}
.prev{
  background-image: url(images/animation/m35.png);
}
.next:hover, .prev:hover{
  cursor: pointer;
}
#next,#prev{
  color: white;
}
#next:hover, #prev:hover{
  color: rgba(255,255,255,0.6);
}
#img img:hover{
  box-shadow: 0px 0px 4px 1px black;
}

img#info{
  max-width: 46%;
  display: inline-block;
  vertical-align: top;
  height: auto;
  /*max-height: 100%;*/
  width: auto;
  margin-right: 20%;
}
