@font-face {
    font-family: "OldStandard";
    src: url("OldStandard-Regular.ttf") format("truetype");
}

* {
    box-sizing:content-box;
}
a {
  color: #0A788C;
  text-decoration: none;
}
a:hover {
color:green;
}
.buttonSeparatorLine{
  font-size: 1.62em;
  vertical-align: middle;
}
.langDropli{
  max-width:29px;
  max-height:29px;
  cursor:pointer;
}
#top{
  position: relative;
  top: -1000px;
}
#contact-icons{
   position: fixed;
   top:0;
   right:15px;
}
#contact-icons ul{
   list-style: none;
}
#contact-icons ul li{
   display: inline-block;
}
#contact-icons ul li a img{
   width: 2em;
   /*transition: all ease 1s;*/
   vertical-align: top;
}
#contact-icons ul li a img:hover{
   /*width: 2.5em;*/
   opacity: 0.5;
}
#etsyNotReady{
   color: white;
   visibility: hidden;
   position: absolute;
   right: 0px;
   background-color: rgba(255,163,26,0.9);
   width:144px;
   padding: 0.5em 0.5em;
   border-radius: .9em;
   box-shadow: inset 0 0 0 2px rgba(255,163,26,0.9), inset 0 0 0 3px white;
}
.ranDrops{
  width: 100%;
  height: 80%;
  position: absolute;
  z-index: -1;
  pointer-events: none;
}
::-moz-selection{
  background: yellow;
  color:#333;
  border-color:#274287;
}
::selection {
  background: yellow;
  color:#333;
  border-color:#274287;
}
#m1:hover{
  color:#17063C;
}
#m2:hover{
  color:#07432C;
}
#m3:hover{
  color:#05A819;
  cursor: pointer;
}
#m4:hover{
  color:#03363F;
}
#a1:hover,#a2:hover,#a3:hover{
  color:#040B1E;
}
#a1,#a2,#a3{
  display: inline-block;
  padding: 7px 0 7px 0;
}
header{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  background-color: #FFF;
  z-index: 5;
  box-shadow: 0px 0px 10px 1px lightgrey;
  padding-bottom: 0;
  transition: all 1s ease;
  opacity: 0.7;
}
.header-scrolled{
  top:-120px;
}
.fintro{
  position:fixed;
  bottom:0;
  left:0;
}
footer{
  margin:0 0 0 0;
  position:absolute;
  width:100%;
  height: 2em;
  background-color: #FFF;
  z-index: 1;
  overflow: hidden;
  box-shadow: 0px 0px 10px 1px lightgrey;

}
nav{
  font-family: 'Fredericka the Great', cursive;
  position:relative;
  font-size: 1.5em;
  text-align: center;
}
nav ul{
  color:#8b2b1c;
  list-style-type: none;
  text-align: center;
  padding: 0 0 0 0;
  margin:  0 0 0 0;
}
nav li{
  margin-right: 1.5em;
  margin-left: 1.5em;
  padding: 0 0 0 0;
  display: inline-flex;
}
body{
  overflow-x: hidden;
  margin: 0 0 0 0;
  font-family: "OldStandard",'Dosis', serif;
  position: relative;
  height: auto;
  background-image: url('images/back.jpg');
  background-color: #FFF;
  background-size: contain;
  text-align: center;
  min-height: 500px;
  color: #336f7a;
}
div{
  margin:0 0 0 0;
  padding:0 0 0 0;
}
p{
  margin-top: 6em;
  margin-right: 10%;
}
h2{
  margin: 2em auto;
}
#NA-logo{
  position:absolute;
  bottom:0;
  right:0;
  display:block;
  float:right;
}
/*--------------------------------------------------------------------
* ----------------------------- Intro.html Style--------------------*/
#animation{
  height: 100%;
  width: 100%;
  position: fixed;
  }
.content-info .grid{
  height: 15%;
  width: 45%;
  display: inline-block;
  margin-bottom: 15%;
  padding-right: 0;
}
.content-info .grid img{
  width:60%;
}
.content-mssges{
  position: relative;
  display: block;
  top:3em;
  margin-bottom: 3em;
  width:100%;
}

.content-mssges li{
  list-style: none;
}
.details{
  background-color: grey;
  width:50%;
  font-size: 1.1em;
  padding-top: .5em;
  padding-bottom: .5em;
  color:white;
}
.message{
  background-color: white;
  width:50%;
  font-family: helvetica;
  padding-top: 1em;
  padding-bottom: 1em;
}
.artwork{
  margin: 150px auto;
  margin-bottom: 0px;
  width: 85%;
  text-align: center;
  font-family: 'Fredericka the Great', cursive;
  font-weight: 100;
  color: #DB1A5E;
}
.artwork a{
  font-size: 80%;
  float:left;
  text-align: left;
  width: 100%;
  display: block;
  color: #DB1A5E;
}
.artwork a:hover{
  opacity: 0.6;
}
.content-artwork {
  margin: auto;
  list-style: none;
  width:100%;
}
/*.content-artwork li{
  float:left;
}*/
.content-artwork .grid{
  width: 45%;
  display: inline-block;
  padding: auto;
  margin: 5% auto;
}
.content-artwork .grid img{
  border-radius: 3px;
  border-width: 2px;
  width:80%;
}
.grid img{
  transition: all 0.3s ease;
  display:block;
  margin: auto;
  box-shadow: 0px 0px 4px 1px grey;
}
.grid img:hover{
  box-shadow: 0px 0px 4px 1px black;
}
@media all and (max-width: 501px) {
  .content-artwork .grid{
    width: 80%;
  }
}
@media all and (min-width: 770px) {
  .content-artwork .grid{
    width: 30%;
  }
}
@media handheld and (min-width: 770px) {
  body{
    font-size: 1.5em;
  }
}

.content-contact{
  margin: 200px auto;
  box-sizing: content-box;
}
.content-contact img{
  margin-top: 40px;
  margin-right: 20px;
  display: inline-block;
  border-radius: 3px;
}
.content-contact p{
  position: relative;
  left: -28px;
   width: 100%;
    margin-top: 30px;
    margin-left: 20px;
    text-align: center;
    display: block;
    border-radius: 3px;
}
/*-----Info.html-----------*/
/*#img img{
  margin-bottom: 1em;
  position: relative;
  transition: all 0.3s ease;
  border-radius: 3px;
  border-width: 2px;
  box-shadow: 0px 0px 4px 1px grey;
}*/
#img{
  margin: auto;
  width: 70%;
  height: 85%;
  text-align: center;
  color:rgb(71, 25, 72);
}
/*start Title block*/
.titleEAT{
 text-align: center;
  position:relative;
  margin: 1% 0 0 0;
  color: #0A788C;
  font-family: 'Fredericka the Great', cursive;
  font-size: 32pt;
}
/*end Title block*/
/*------------- start of drop down menu ----------------------------*/
.dropdown {
  font-family: 'Fredericka the Great', cursive;
    position: relative;
    display: block;
    text-align: center;
    color: #0A788C;
}
.dropdown-content {

    text-align: center;
    font-size: .7em;
    display: none;
    position: absolute;
    left: -12px;
    background-color: rgba(255, 255, 255, 1);
    /*margin: 1em 0 0 0;*/
    padding: 1em 1em 1em 1em;
    box-shadow: 0px 0px 10px 2px lightgrey;

}
/*.dropdown:hover .dropdown-content {
  display: block;
}*/
/* end of drop down menu */

/*--------------------about.html page*-----------------------------*/
/*#info{
  position:relative;
  top:-100px;
}*/
.disc{
  margin: 3em auto;
}
.content-about{
   position: relative;
   top:3em;
   width: 100%;
   height: 500px;
}

/*----about.html*/
.about-text{
  width:35%;
  position: absolute;
  bottom:30px;
  left:100px;
  margin-top: 100px;
  text-align: justify;
  display: inline-block;
}

/*code taken START*/
/*  GRID OF TWO  */
#about{
   display: inline-block;
   position: absolute;
   right:100px;
   bottom:30px;
   vertical-align: baseline;
	width: 50%;
   max-width:40%;
   height: auto;
   max-height: 450px;
   width: auto;

}

/*  GO FULL WIDTH AT LESS THAN 720 PIXELS */

@media only screen and (max-width: 720px) {
	#about, .about-text {
    width: 80%;
    margin: 100px auto;
    display: block;
    position: absolute;
    left:10%;
  }
  #about{
     top:0px;
 }
 .about-text{
    top:200px;
}
}
/*code taken END*/
#back2top{
  position: relative;
  bottom: 2em;
  display: block;
  margin: auto;
}
#back2top:hover{
  color:#01543F;
  cursor:pointer;
}
