<div id="top"></div>
<div class="ranDrops"></div>
<section class="content-artwork">
  <h1 id="secHeader" class="artwork">{{paintingCtrl.title.value}}</h1>
    <div class="gridWrapper">
        <div class="grid {{painting.className}}" ng-repeat="painting in paintingCtrl.paintings track by $index">
            <img src="{{paintingCtrl.folder}}{{painting.path}}" alt="{{painting.alt}}"/>
            <span class="title">{{painting.alt}},{{painting.date}}.</span>
        </div>
    </div>
</section>
<div id="back2top"><a ng-click="paintingCtrl.scrollToTop($event)">back to top</a></div>
<img id="logo" src="images/logo.png"/>