<div class="content-info">
  <div class="flex-item" ng-click="getPrev()">
  <a id="prev" >
    <span class="prev">
      &lt;
    </span>
  </a>
</div>
  <div class="info-img">
    <img ng-click="blowUp($event)" class="info-img-img" id={{imageId}} src="{{imageSrc}}" alt="{{imageAlt}}">
    <div id=info-text>
      <em><strong><span>{{imageAlt}}.</span></strong></em>
      <span ng-repeat="descs in imageDesc">{{descs}}.<span>
      </div>
  </img>
  </div>
<div class="flex-item" ng-click="getNext()">
    <a id="next" >
      <span class="next">
        &gt;
      </span>
    </a>
  </div>
</div>
