  <div class="titleEAT">ELVA ARCE</div>
    <nav>
      <ul>
        <li><a id="m1" href="index.html">HOME</a></li>
        <li><a id="m2" href="about.html">BIO</a></li>
        <!-- drop down menu start -->
        <li>
        <div class="dropdown">
          <a id="m3" onclick="showClick(artwork)">{{nav.menu.artwork}}</a>
          <div class="dropdown-content">
            <a id="a1" href="painting.html">{{nav.menu.paintings}}</a>
            <a id="a2" href="mix_tech.html">{{nav.menu.mix_tech}}</a>
            <a id="a3" href="islamic_art.html">{{nav.menu.islamic}}</a>
          </div>
        </div>
        </li>
      </ul>
      <!-- drop down menu finish  -->
    </nav>
    <div id="contact-icons">
       <ul>
          <li><a href="https://www.facebook.com/ElvaArce.EAAE" target="blank"><img class="nonmodal" src="images/contact/fcontact.png"/></a></li>
          <li><a href="https://www.instagram.com/elva_arce_eaae" target="blank"><img class="nonmodal" src="images/contact/icontact.png"/></a></li>
          <!-- <li><a onclick="etsyNotReady()" ><img class="nonmodal" src="images/contact/econtact.png"/></a><div id="etsyNotReady">My Etsy store will soon be available</div></li> -->
          <li><a href="mailto:elvarceteixeira@gmail.com" target="blank"><img class="nonmodal" src="images/contact/gcontact.png"/></a></li>
          <li style="font-size:1.62em;">|</li>
          <li class="langDropli"><a ng-click="nav.setLangESP()"><img class="nonmodal" src="images/animation/m5.png"/>
            <span>ES</span>
          </a></li>
          <li class="langDropli"><a ng-click="nav.setLangENG()"><img class="nonmodal" height="34" src="images/animation/m35.png"/>
            <span>EN</span>
          </a></li>
       </ul>
    </div>
