
/*----about.html*/
#comingSoon{
  position: absolute;
  font-size: 2em;
  left:10vw;
}
#comingSoon::after{
 animation-name: comingSoonAnim;
 animation-duration: 1.5s;
 animation-iteration-count:infinite;
 animation-timing-function: linear;
}
@-webkit-keyframes comingSoonAnim {
  0%   {
      content: "";
    }
  33% {
    content: ".";
  }
  67% {
    content: "..";
  }
  100% {
   content: "...";
  }

}
@keyframes comingSoonAnim {
  0%   {
      content: "";
    }
  33% {
    content: ".";
  }
  67% {
    content: "..";
  }
  100% {
   content: "...";
  }
}
.content-about{
   position: relative;
   top:3em;
}

@media only screen and (max-width: 801px) {

  .about-text,#about{
    width: 70%;
    bottom:30px;
    margin-top: 100px;
    text-align: justify;
    display: block;
  }
}
/* until true text is available */
.about-text{
   opacity: 0;
}
#about{
    width:100%;
}

/*  GO FULL WIDTH AT LESS THAN 720 PIXELS */

@media only screen and (min-width: 801px) {
  .content-about{
     margin-top:10%;
     height
       position: relative;
        width: 100%;
  }
  #about{
    width: 45%;
    margin-left: 10%;
    display: inline-block;
  }
  .about-text{
    width: 30%;
    display: inline-block;
    margin-right: 2em;
  }
}
