#drop1 , #drop2 , #drop3 , #drop4 , #drop5 , #drop6 , #drop7 , #drop8 , #drop9 , #drop10,
#drop11, #drop12, #drop13, #drop14, #drop15, #drop16, #drop17, #drop18, #drop19, #drop20,
#drop21, #drop22, #drop23, #drop24, #drop25, #drop26, #drop27, #drop28, #drop29, #drop30,
#drop31, #drop32, #drop33, #drop34, #drop35, #drop36, #drop37, #drop38, #drop39, #drop40,
#drop41, #drop42 {
  position: absolute;
  opacity: 0;
  z-index: 1;
  transition: all 0.3s ease;
  cursor: none;
  border-radius: 100px;
  -moz-border-radius: 100px;
}